@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    font-family: "Lato", sans-serif;;
}




header
{
display: grid;
grid-template-columns: 30px auto 48px;
padding: 5px 0px 5px 10px;
border: darkgray;
column-gap: 8px;
align-items: center;

}
/*******************Header*******************/
header img
{
    display: block;
    width: 100%;
    height: auto;
}

.hamburguer::before{
    content: "\2630"
}

.hamburguer.show::before{
    content: "\00D7"
}

.navigation{
    display: none;
}

.navigation.show{
    display: block;

}

.navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    background-color: #000000;
    margin:0;

}
.navigation a{
    text-decoration: none;
    color: #ffffff;
    margin: 5px 10px;
}
/*******************Main*********************/
.hero img{
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

}
.container h1{
    align-self: flex-start;
}
.companysCard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px   ;
}

.companys.list .companysCard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.companys > div:first-of-type{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 30px 0px;
}

.companys button{
    width: 35px;
    height: 35px;
    border: none;
    background-color: yellow;
    border-radius: 5px;
    padding: 5px;
}

.companys h3, .companys p{
    display: none;
}

.companys.list h3{
    display: block;
    max-width: 25%;
    background-color: transparent;
}

.companys.list img{
    display: none;
}

#list img, #grid img{
    display: block;

}


.companys .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;  
    background-color: darkgray;
    border-radius: 10px;
    margin-bottom: 15px;  
}

.companys.list .card{
    flex-direction: row;
    width: 80%;
    justify-content: space-around;

}

.companys .card img{
    margin: 5px auto;
}

.members{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.card h3, .card p{
    text-align: center;
    grid-column: 1/3;
    margin: 0px;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
}

.card h3{
    border-radius: 10px 10px 0px 0px;
}

.card img{
    width: 80%;
    margin: 5px;
    max-width: 120px;
    max-height: 120px;
    border-radius: 10px;
}
.companys.list .information{
    display: flex;
    flex-direction: row;
    font-size: .8rem;
    margin-bottom: 0px;
    align-items: center;
    gap: 10px;

}

.information{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}


.information p{
    display: block;
    background-color: transparent;
    white-space: wrap;
    margin: 0px 10px;
}

.information a{
    width: 100%;
}
/****************footer*****************/
footer
{
    background-color: darkgray;
    padding: 1rem 15px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.media
{
display: flex;
justify-content: center;
column-gap: 5px;
}
.media a
{
display: flex;
justify-content: center;
align-items: center;
border: 1px solid gray;
width: 44px;
height: 44px;
border-radius: 22px;
}
.media a:hover{
    background-color: grey;
}