@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    font-family: "Lato", sans-serif;;
}




header
{
display: grid;
grid-template-columns: 30px auto 48px;
padding: 5px 0px 5px 10px;
border: darkgray;
column-gap: 8px;
align-items: center;

}
/*******************Header*******************/
header img
{
    display: block;
    width: 100%;
    height: auto;
}

.hamburguer::before{
    content: "\2630"
}

.hamburguer.show::before{
    content: "\00D7"
}

.navigation{
    display: none;
}

.navigation.show{
    display: block;

}

.navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    background-color: #000000;
    margin:0;

}
.navigation a{
    text-decoration: none;
    color: #ffffff;
    margin: 5px 10px;
}
/*******************Main*********************/
.hero img{
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

}
.container h1{
    align-self: flex-start;
}

.members{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card{
    display: grid;
    grid-template-columns: 50% 50%;
}
.card h3, .card p{
    text-align: center;
    grid-column: 1/3;
    margin: 0px 7px;
}

.card img{
    width: 80%;
    margin: 5px;
}
.card span{
    display: block;
    grid-column: 2/3;
    font-size: 10px;
    justify-self: center;
    margin: auto 0;
    max-width: 100%;
    line-height: 2;
    white-space: pre-wrap;
}
/****************footer*****************/
footer
{
    background-color: darkgray;
    padding: 1rem 15px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.media
{
display: flex;
justify-content: center;
column-gap: 5px;
}
.media a
{
display: flex;
justify-content: center;
align-items: center;
border: 1px solid gray;
width: 44px;
height: 44px;
border-radius: 22px;
}
.media a:hover{
    background-color: grey;
}